.nav{
    display: flex;
    justify-content: space-between;
}
.nav h1{
    color: #6155B4;
    margin: 0;
    font-size: 40px;
}
.nav .nav-search{
    flex: 1;
    display: flex;
    margin-left: 5%;
    margin-right: 5%;
    margin-top: 5px;
}

.nav .nav-search input{
    flex: 1;
    color: #6155B4;
    border: 1px solid#6155B4;
    height: 35px;
    border-right: none;
}
.nav .nav-search button{
    color: #6155B4;
    border: 1px solid #6155B4;
    height: 39px;
}

.nav ul{
    display: inline-flex;
    margin: 0;
    padding: 0;
    list-style-type: none;
}
.nav ul li{
    padding-left: 15px;
    padding-top: 15px;

}
.nav ul a{
    text-decoration: none;
    color: #6155B4;
    cursor: pointer;
}

h1 a{
    color: #6155B4;
    text-decoration: none;
}

.suggested-search{
    position: absolute;
    top: 40px;
    z-index:10;
    display: list-item !important;
    border: 1px solid #ddd;
    background-color: #fff;
    width: 300px;
}
.suggested-search li{
    padding: 5px;
    border: 1px solid #ddd;
}

.suggested-search li a{
    cursor: pointer;
    color: #6155B4;
}