table{
    text-align: left;
    color: #6155B4;
    border-collapse: collapse;
}
img{
    height: 100px;
    width: 100px;
}
table td , table th{
    border: 1px solid #6155B4;
    padding: 10px;
    min-width: 160pxs;
}
.adjust-update-link{
    margin-left: 10px;
}