.sign-up , .login{
    text-align: center;
}
.sign-up h1  ,.login h1{
    margin-top: 50px;
    margin-bottom: 80px;
    color: #6155B4;
    cursor: pointer;
}
.auth-toggle-link{
    color: #6155B4;
    font-size:14px;
    margin-top:20px;
    text-align:left;
    cursor: pointer;
}