.user-auth h1{
    margin-top: 50px;
    margin-bottom: 80px;
    color: #6155B4;
    cursor: pointer;
    text-align: center;
}
.user-auth{
    margin-bottom: 100px;
}
.user-auth a{
    color: #6155B4;
    cursor: pointer; 
}