.search-item{
    display: flex;
   align-items: center;
    width: 100%;
    margin: 25px auto;
    border-top: 1px solid #ddd;
    padding-top: 15px;
}
.img-details{
 line-height: 15px;
 margin-left: 40px;
}

.search-item img{
    // width: 100%;
    object-fit: contain;
    height: 150px;
}
.search-item h6{
    color: #6155B4;
    font-size: 20px;
   
}
.search-item p{
    margin-bottom: 5px;
}
.search-item span{
    margin-right: 10px;
}